<!DOCTYPE html>
<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>Menu Dropdown Horizontal - Linha de Código</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="/public/panel-user.css" />
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check" id="icone"><img src="https://i.imgur.com/RWHvwPE.png"/></label>
    <div class="barra">	
        <nav>
            <a href=""><div class="link">Home</div></a>
            <a href=""><div class="link">Tutoriais</div></a>
            <a href=""><div class="link">Downloads</div></a>
            <a href=""><div class="link">Eventos</div></a>
            <a href=""><div class="link">Contato</div></a>
        </nav>	
    </div>
</body>
</html>