<!DOCTYPE html>
<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>Menu Dropdown Horizontal - Linha de Código</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="/public/panel-user.css" />
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
</head>
<body>

    <input type="checkbox" id="check">
    <label for="check" id="icone"><img src="https://i.imgur.com/RWHvwPE.png"/></label>
    <div class="canvas">
    </div>
    <div class="player-info">
      <div class="perfil-player-lot">
        <div class="foto-perfil">

        </div>
        <div class="info">
          <div class="player-name">

          </div>
          <div class="link-player">

          </div>
        </div>
      </div>
      <div class="message-user">
        <p>This player hant's added a message yet.</p>
      </div>
      <div class="video-user">
        <p>This player has not added a video yet.</p>
      </div>
      <div class="lot-view">

      </div>
      <div class="lot-type">

      </div>
      <div class="lot-value">

      </div>
      <div class="btn-buy">
        <button>Buy</button>
      </div>
    </div>
    <div class="register-container">
      <div class="register-internal">
        <p>What's up! did you like you city? wanna be a SmartChain as well? it's simple! Singin up to buy you plot or land or log into you account!</p>
        <Button>Register</Button>
        <p style="margin-left: 17%;margin-top: 3px !important;">Já possui uma conta? <a href="" style="color: #FFF;text-decoration: none;">faça login</a></p>
      </div>
      <div class="button-close">

      </div>
    </div>
    <div class="barra">	<!-- sombra externa-->
        <div class="borda-externa"> <!-- Sombra que sobrepoe todo o container-->
            <div class="container-interno"><!-- Base-->
                <div class="title"><!-- Retangulo pequeno no top side-->
                    <p>Filter Type</p>
                </div>
                <div class="container-textfield-scroll"> <!-- Scroll com sombra-->
                    <div class="label">
                        <div class="top">
                            <p>Lot Rarity</p>
                            <img src="" alt="">
                        </div>
                        
                        <div class="textfield01">
                            <div class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales" >
                                <label for="scales" style="color:#c4c4c4">Common</label>
                              </div>
                          
                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#90e954">Uncommon</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#009cff">Rare</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#c029ff">Epic</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#ffd02b">Legendary</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#ff3b3b">Mithical</label>
                              </div>
                        </div>
                    </div>

                    <div class="label">
                        <div class="top">
                            <p>Propriety Rarity</p>
                            <img src="" alt="">
                        </div>
                        
                        <div class="textfield01">
                            <div  class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales">
                                <label for="scales" style="color:#FFF">T 1</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales">
                                <label for="scales" style="color:#FFF">T 2</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales">
                                <label for="scales" style="color:#FFF">T 3</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales">
                                <label for="scales" style="color:#FFF">R 1</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales">
                                <label for="scales" style="color:#FFF">R 2</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales">
                                <label for="scales" style="color:#FFF">R 3</label>
                              </div>
                        </div>
                    </div>
                   
                    <div class="label">
                        <div class="top">
                            <p>Income</p>
                            <img src="" alt="">
                        </div>
                        
                        <div class="textfield02">
                            <div  class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales">
                                <label for="scales" style="color:#FFF">TLR 50-TRL 100</label>
                              </div>
                          
                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#FFF">TLR 100-TRL 500</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#FFF">TLR 500-TRL 1000</label>
                              </div>

                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#FFF">Over TLR 1000</label>
                              </div>
                        </div>
                    </div>
                    <div class="label">
                        <div class="top">
                            <p>Avaliability</p>
                            <img src="" alt="">
                        </div>
                        
                        <div class="textfield02">
                            <div  class="checkbox-label">
                                <input type="checkbox" id="scales" name="scales">
                                <label for="scales" style="color:#FFF">Avaliable for purchase</label>
                              </div>
                          
                              <div  class="checkbox-label">
                                <input type="checkbox" id="horns" name="horns">
                                <label for="horns" style="color:#FFF">purchased</label>
                              </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">

        </div>     
    </div>
    <script type="text/javascript">
        // Aqui dentro vai vir os codigos do mapa

    </script>
</body>
</html>