@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Londrina+Solid&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Londrina+Solid&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
*{margin: 0px; padding: 0px;}
body{
	background-color: #f9f9f9;

}
.canvas{
	width: 16000px;
	height: 16000px;
    position: absolute;
	z-index: -1;
}


#icone {
	cursor: pointer;
	padding: 15px;

	z-index: 1;
}

#check{
	display: none;
	background-color: #f00;
}

.barra{

	height: auto;
	width: 300px;
	background-image: url('./img/background-bar-main.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	left: -300px;
	transition: all .2s linear;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.borda-externa{
	width: 93%;
	height: 600px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-image: url('./img/background-base-internal.png');
	background-repeat: no-repeat;
	background-size: contain;

}

.container-interno{
	width: 250px;
	margin-top: 10px;
	height: 500px;
	display: flex;
	flex-direction: column;
	padding-right: 5px;
}

.title{
	margin: 0px !important;
	width: 97.5%;
	height: 50px;
	background-color: #3254c6;
	text-align: center;
	z-index: 2;
}
.title p{
	font-family: 'Londrina Solid', regular;
	color: #FFF;
	font-size:x-large;
	margin-top: 6px;

}
.container-textfield-scroll{
	overflow: hidden;
	width: 97.5%;
	overflow-y: scroll;
	height: 600px;
}

.container-textfield-scroll::-webkit-scrollbar{
	background-color: #2167d3;
	width: 8px;
}

.container-textfield-scroll::-webkit-scrollbar-thumb{
	background-image: url('./img/scroll-background.png');
	background-color: aqua;
	border-radius: 10px;

}

.top{
	height: 20px;
	margin-left: 10px;
	color:#FFF;
	font-family: 'Londrina Solid', regular;
}

.textfield01{
	width: 93%;
	height: 160px;
	margin-top: 0px;
	margin: 5px;
	background-image: url('./img/textfield01.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.textfield02{
	width: 93%;
	height: 130px;
	margin-top: 0px !important;
	margin: 5px;
	background-image: url('./img/textfield02.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.textfield03{
	width: 93%;
	height: 70px;
	margin-top: 0px !important;
	margin: 5px;
	background-image: url('./img/textfield03.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.checkbox-label{
	font-family: 'baloo 2';
}


.bottom{
	height: 15px;
}

.barra .link{
	list-style: none;
	background-color: #494950;
}

nav{
	width: 100%;
	position: absolute;
	top: 60px;
}
nav a{
	text-decoration: none;
}

.link{
	color: #f4f4f9;
	font-family: 'Arial';
	font-size: 12pt;
	padding: 20px;
	border-bottom: 2px solid #222;
	transition:  all .2s linear;
	opacity: 0;
	margin-top: 200px;
}
.link:hover{
	background-color: #050542;
}

#check:checked ~ .barra nav a .link{
		opacity: 1;
		margin-top: 0;
		transition-delay: .2s;
}
#check:checked ~ .barra{
		transform: translateX(300px);

}

#check:checked ~ .borda-externa{
	padding-right: 20px;
}

.register-container{
	max-width: 300px;
	height: 125px;

	margin-bottom: 10px;
	margin-left: 0px;
	background-image: url('./img/register-background.png');
	background-size: 100%;
	background-repeat: no-repeat;
}
.register-internal{
	display: block;
	justify-content: center;
	align-items: center;
	width: 225px;

	text-align: justify;
	font-size: 11px;
	margin-top: 10px;
}
.register-internal p{
	padding-top: 12px;
	padding-left: 5px;
	color: #FFF;
	line-height: 1.2;
	font-family: 'baloo 2';
}

.register-internal button{
	background-image: url('./img/btn-register.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	margin-left: 25%;
	margin-top: 5px;
	width: 110px;
	height: 40px;
	color: #FFF;
	font-size: large;

	font-family: 'Londrina Solid', regular;
}

.player-info{
	width: 300px;
	height: 760px;
	margin-top: 35px;
	float: right;
	background-image: url('./img/background-panel-user.png');
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.perfil-player-lot{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
	height: 100px;
	background-color: #f4f4f9;
	border-radius: 10px;
	margin-bottom: 10px;
}

.foto-perfil{
	width: 30%;
	height: 80px;
	background-color: #494950;
	margin-left: 10px;
}

.info{
	width: 60%;
	height: 80px;
	background-color: #7272db;
	margin-left: 10px;
}
.player-name{
	width: 100%;
	height: 25px;
	background-color: #222;
	margin-top: 25px;

}
.link-player{
	width: 100%;
	height: 25px;
	background-color: #222;
	margin-top: 5px;
}

.message-user{
	width: 88%;
	height: 100px;
	padding-left: 5px;
	padding-top: 5px;
	background-image: url('./img/background-message.png');
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin-bottom: 10px;
	color: #FFF;
	font-family: 'Baloo 2';
}

.video-user{
	width: 90%;
	height: 150px;
	background-color: #f4f4f9;
	background-image: url('./img/background-video.png');
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

	.video-user p {
		width: 95%;
		text-align: center;
		color: #FFF;
		font-family: 'Baloo 2';

	}

.lot-view{
	margin-top: 10px;
	width: 230px;
	height: 190px;
	background-image: url('./img/background-lotview.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.lot-type{
	width: 80%;
	height: 25px;
	background-image: url('./img/background-raridadepreco.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #222;
	margin-top: 10px;
}
.lot-value{
	width: 80%;
	height: 25px;
	background-image: url('./img/background-raridadepreco.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #222;
	margin-top: 10px;
}
.btn-buy{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	width: 90%;
	height: 50px;
	border-radius: 10px;
	margin-bottom: 10px;

}

.btn-buy button{
	width: 140px;
	height: 50px;
	background-image: url('./img/background-buttonbuy.png');
	background-size: cover;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	color: #FFF;
}